.container{
    font-size: 20px;
    width:300px;
    height:250px;
    border:1px solid black;
    text-align: center;
    line-height: 30px;
}
.lane{
    margin: 0.5vh 2vw;
}
.subtitle{
    font-weight:bold;
}
input {
    font-size: 16px;
}
button {
    padding:1.2vh;
    border: 0.5px solid black;
}
button:hover {
    border: 0.5px solid gray;
    background-color: black;
    color: white;
}